@{
    ViewData["Title"] = "User Add/Edit";
    Layout = "~/Views/Shared/SharedAdmin/_AdminLayout.cshtml";
}

@model Artefy.Areas.User.Models.UserModel

<!--Page Bar-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a asp-controller="Admin" asp-action="Index"><i class="fa fa-home"></i>&nbsp;Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>User Add/Edit</span>
            <i class="fa fa-circle"></i>
        </li>
    </ul>
</div>

<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="col-md-9">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">User Add/Edit</span>
                    </div>
                </div>

                <div class="portlet-body form">
                    <h4 class="font-green-sharp">@TempData["Msg"]</h4>
                    <form class="form-horizontal" role="form" method="post" asp-area="User" asp-controller="User" asp-action="Save" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @Html.HiddenFor(x=>x.UserID)
                        @Html.HiddenFor(x=>x.ProfilePic)
                        <div class="form-body">

                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="text-danger">*</span>RoleType Name</label>
                                <div class="col-md-9">
                                    <select class="form-control" asp-for="RoleTypeID" asp-items="@(new SelectList(ViewBag.RoleTypeList,"RoleTypeID","RoleTypeName"))">
                                        <option value="">Select RoleType</option>
                                    </select>
                                    <span asp-validation-for="RoleTypeID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Profile Pic</label>
                                <div class="col-md-9">
                                    <input type="file" class="form-control" asp-for="File" placeholder="Select Profile Pic" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="text-danger">*</span>User Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" asp-for="UserName" placeholder="Enter User Name" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="text-danger">*</span>Password</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" asp-for="Password" placeholder="Enter Password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="text-danger">*</span>Birth Date</label>
                                <div class="col-md-9">
                                    <input type="date" class="form-control" asp-for="BirthDate" placeholder="Select Birth Date" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="text-danger">*</span>Address</label>
                                <div class="col-md-9">
                                    <textarea rows="4" cols="50" class="form-control" asp-for="Address" placeholder="Enter Address"></textarea>
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="text-danger">*</span>Country Name</label>
                                <div class="col-md-9">
                                    <select class="form-control" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))" onchange="fnonStateChange();">
                                        <option value="">Select Country</option>
                                    </select>
                                    <span asp-validation-for="CountryID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="text-danger">*</span>State Name</label>
                                <div class="col-md-9">
                                    <select class="form-control" asp-for="StateID" asp-items="@(new SelectList(ViewBag.StateList,"StateID","StateName"))" onchange="fnonCityChange();">
                                        <option value="">Select State</option>
                                    </select>
                                    <span asp-validation-for="StateID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">City Name</label>
                                <div class="col-md-9">
                                    <select class="form-control" asp-for="CityID" asp-items="@(new SelectList(ViewBag.CityList,"CityID","CityName"))">
                                        <option value="">Select City</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="text-danger">*</span>Phone</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" asp-for="Phone" placeholder="Enter Phone" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="text-danger">*</span>Email</label>
                                <div class="col-md-9">
                                    <input type="email" class="form-control" asp-for="Email" placeholder="Enter Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="text-danger">*</span>Gender</label>
                                <div class="col-md-9" asp-for="Gender">
                                    <label class="radio-inline">
                                        <input type="radio" value="MALE" asp-for="Gender" name="MALE" id="Gender">MALE
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="FEMALE" asp-for="Gender" name="MALE" id="Gender">FEMALE
                                    </label>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Description</label>
                                <div class="col-md-9">

                                    <textarea rows="4" cols="50" class="form-control" asp-for="Description" placeholder="Enter Description"></textarea>

                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" class="btn green" value="Save" />
                                    <a class="btn default" asp-area="User" asp-controller="User" asp-action="Index">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->
        </div>
    </div>
</div>

@section Scripts {

    <script>
        function fnonStateChange() {
            var CountryID = $("#CountryID").val();

            if (CountryID !== "") {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
                $("#CityID").empty();
                $("#CityID").append($("<option></option>").val("").html("Select City"));
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("DropDownByCountry", "User")" + "?CountryID=" + CountryID,
                        date: {},
                        dataType: "json",
                        success: function (Result) {

                            $.each(Result,
                                function (key, value) {
                                    $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
                                });
                        },
                        error: function (r) {
                            alert("Error while loading DropDwon.");
                        }
                    });
            }
            else {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
                $("#CityID").empty();
                $("#CityID").append($("<option></option>").val("").html("Select City"));
            }
        }

        function fnonCityChange() {
            var StateID = $("#StateID").val();
             
            if (StateID !== "") {
                $("#CityID").empty();
                $("#CityID").append($("<option></option>").val("").html("Select City"));
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("DropDownByState", "User")" + "?StateID=" + StateID,
                        date: {},
                        dataType: "json",
                        success: function (Result) {

                            $.each(Result,
                                function (key, value) {
                                    $("#CityID").append($("<option></option>").val(value.cityID).html(value.cityName));
                                });
                        },
                        error: function (r) {
                            alert("Error while loading DropDwon.");
                        }
                    });
            }
            else {
                $("#CityID").empty();
                $("#CityID").append($("<option></option>").val("").html("Select City"));
            }
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}