@{
    ViewData["Title"] = "PaymentMode List";
    Layout = "~/Views/Shared/SharedAdmin/_AdminLayout.cshtml";

}

@using System.Data;
@model DataTable;

<!--Page Bar-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a asp-area="Admin" asp-controller="Admin" asp-action="Index"><i class="fa fa-home"></i>&nbsp;Admin</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>PaymentMode List</span>
            <i class="fa fa-circle"></i>
        </li>
    </ul>
</div>

<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light bordered margin-top-10">

    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase">PaymentMode List</span>
        </div>
        <div class="actions">
            <div class="btn-group btn-group-devided">
                <a asp-area="PaymentMode" asp-controller="PaymentMode" asp-action="Add" class="btn green btn-rounded"><i class="fa fa-plus"></i>&nbsp;Add PaymentMode</a>
            </div>
        </div>
    </div>

    <div class="portlet-body">

        <div class="pull-right">
            <div id="sample_1_filter" class="dataTables_filter">
                <label>Search &nbsp;<input type="text" class="form-control input-sm input-small input-inline" id="sample_1"></label>
            </div>
        </div>

        <table class="table table-striped table-bordered table-hover table-header-fixed dataTable" id="sample_1">
            <thead>
                <tr>

                    <th class="text-center">PaymentMode Name</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Created</th>
                    <th class="text-center">Modified</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody class="text-center" id="sample_2">
                @foreach (DataRow dr in Model.Rows)
                {
                    <tr>

                        <td>@dr["PaymentModeName"]</td>
                        <td>@dr["Description"]</td>
                        <td>@Convert.ToDateTime(dr["CreationDate"]).ToString("dd-MM-yyyy")</td>
                        <td>@Convert.ToDateTime(dr["ModificationDate"]).ToString("dd-MM-yyyy")</td>
                        <td>
                            <form method="post" asp-area="PaymentMode" asp-controller="PaymentMode" asp-action="Delete">
                                <input type="hidden" name="PaymentModeID" value="@Convert.ToInt32(dr["PaymentModeID"])">
                                <button type="submit" class="btn btn-danger btn-xs" onclick="return fun1();"><i class="fa fa-close"></i></button>
                                <a class="btn btn-info btn-xs" asp-area="PaymentMode" asp-controller="PaymentMode" asp-action="Add" asp-route-PaymentModeID="@Convert.ToInt32(dr["PaymentModeID"])"><i class="fa fa-pencil"></i></a>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        function fun1() {
            if (confirm("Are you sure you want to delete?")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}